<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.branch.branchster"
          android:targetSandboxVersion="2"
          android:versionCode="29"
          android:versionName="1.7.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BranchsterAndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        >
        <activity
            android:name="io.branch.branchster.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="branchsters"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- AppLink config -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- <data android:scheme="https" android:host="bnc.lt" android:pathPrefix="/your_app_id_obtained form Branch dash board " /> -->
                <data
                    android:host="branchster.app.link"
                    android:scheme="https"/>
                <data
                    android:host="branchster.app.link"
                    android:scheme="http"/>

                <!--email-bronto.branch.rocks-->
                <data
                    android:host="email-bronto.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-bronto.branch.rocks"
                    android:scheme="http"/>

                <!--email-mailjet.branch.rocks-->
                <data
                    android:host="email-mailjet.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-mailjet.branch.rocks"
                    android:scheme="http"/>

                <!--email-mandrill.branch.rocks-->
                <data
                    android:host="email-mandrill.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-mandrill.branch.rocks"
                    android:scheme="http"/>

                <!--email-sp.branch.rocks-->
                <data
                    android:host="email-sp.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-sp.branch.rocks"
                    android:scheme="http"/>

                <!--email-cm.branch.rocks-->
                <data
                    android:host="email-cm.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-cm.branch.rocks"
                    android:scheme="http"/>

                <!--email-campmon.branch.rocks-->
                <data
                    android:host="email-campmon.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-campmon.branch.rocks"
                    android:scheme="http"/>

                <!--email-cm.branch.rocks-->
                <data
                    android:host="email-cm.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-cm.branch.rocks"
                    android:scheme="http"/>

                <!--amazon-email.branch.rocks-->
                <data
                    android:host="amazon-email.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="amazon-email.branch.rocks"
                    android:scheme="http"/>

                <!--email-iterable.branch.rocks-->
                <data
                    android:host="email-iterable.branch.rocks"
                    android:scheme="https"/>
                <data
                    android:host="email-iterable.branch.rocks"
                    android:scheme="http"/>

            </intent-filter>

        </activity>

        <activity
            android:name="io.branch.branchster.MonsterViewerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default">
            <meta-data
                android:name="io.branch.sdk.auto_link_path"
                android:value="monster/view/"/>
            <meta-data
                android:name="io.branch.sdk.auto_link_request_code"
                android:value="@integer/AutoDeeplinkRequestCode"/>
        </activity>
        <activity
            android:name="io.branch.branchster.MonsterCreatorActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default">
        </activity>

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false"/> <!-- Set to true to use Branch_Test_Key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_key"/>
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="@string/branch_key_test"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>
