<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.branch.branchster"
          android:targetSandboxVersion="2"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-sdk tools:overrideLibrary="androidx.leanback"/>
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />


    <application
        android:name="io.branch.branchster.BranchsterAndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:banner="@drawable/ic_launcher_tv">

        <activity
            android:name="io.branch.branchster.TvActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="io.branch.branchster.MonsterViewerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Default">
            <meta-data
                android:name="io.branch.sdk.auto_link_path"
                android:value="monster/view/"/>
            <meta-data
                android:name="io.branch.sdk.auto_link_request_code"
                android:value="@integer/AutoDeeplinkRequestCode"/>
                <!--For testing when initSession is being called in ViewerActivity-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="branchsters"/>-->
<!--                <data android:scheme="https" android:host="branchster.app.link" />-->
<!--                <data android:scheme="https" android:host="branchster-alternate.app.link" />-->
<!--                <data android:scheme="http" android:host="branchster.app.link" />-->
<!--                <data android:scheme="http" android:host="branchster-alternate.app.link" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="io.branch.branchster.MonsterCreatorActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Default">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>
